################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
*.lib
/build/.vs/learn-opencv/v16
/3rdparty/video/save
/bin/showVideo/x64-Debug
/build/showVideo/x64/Debug
